[submodule "primeros-ejercicios"]
	path = ejercicios-1
	url = git@github.com:ManuLasker/primeros-ejercicios.git
[submodule "ejercicios-2"]
	path = ejercicios-2
	url = git@github.com:ManuLasker/ejercicios-2.git
[submodule "ejercicios-3"]
	path = ejercicios-3
	url = git@github.com:ManuLasker/ejercicios-3.git
